<h1 class="text-4xl text-left select-none">More about this project...💡</h1>
<section class="text-left tracking-wide text-xl mt-5 select-none">
	<p><span class="font-bold">Scribble</span> is more than just a note-taking app; it's your personal digital workspace. Designed to capture and organize your thoughts, ideas, and inspirations, Scribble offers a seamless and intuitive experience</p>
	<h3 class="mt-5 text-3xl">Key features:</h3>
	<ul class="mt-5 list-disc">
		<li><span class="font-bold">Intuitive Interface</span>: Enjoy a clean and minimalist design that makes note-taking a breeze.</li>
		<li class="my-5"><span class="font-bold">Rich Text Formatting</span>: Add emphasis, bullet points, numbered lists, and more to your notes for better organization and readability.</li>
		<li><span class="font-bold">Attachment Support:</span>: Attach images, documents, and links to your notes for easy reference.</li>
	</ul>
	<h3 class="mt-5 text-3xl">Tools & Technologies:</h3>
	<div class="flex items-center flex-wrap justify-around my-5">
		<img src="/static/imgs/docker.svg" class="w-10" alt="docker" loading="lazy">
		<img src="/static/imgs/bun.svg" class="w-10" alt="bun" loading="lazy">
		<img src="/static/imgs/swagger.svg" class="w-10" alt="swagger" loading="lazy">
		<img src="/static/imgs/express.svg" class="w-10" alt="express" loading="lazy">
		<img src="/static/imgs/typescript.svg" class="w-10" alt="typescript" loading="lazy">
		<img src="/static/imgs/zod.svg" class="w-10" alt="zod" loading="lazy">
		<img src="/static/imgs/dependabot.svg" class="w-10" alt="dependabot" loading="lazy">
		<img src="/static/imgs/conventionalcommits.svg" class="w-10" alt="conventionalcommits" loading="lazy">
		<img src="/static/imgs/mysql.svg" class="w-14" alt="mysql" loading="lazy">
		<img src="/static/imgs/sequelize.svg" class="w-10" alt="sequelize" loading="lazy">
	</div>
</section>
