<h1 class="text-center text-7xl">Your Notes, Your Way</h1>
<p class="text-center my-5 mb-32 text-2xl">The perfect app for students, professionals, and creatives.</p>
<a href="/home" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-xl px-5 py-2.5 me-2 my-10 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 mt-5 inline-block z-10">start here</a>
