<form method="post" class="w-full lg:w-2/3 mx-auto text-left mb-10">
    <div class="mb-6">
        <label for="text" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Verification code</label>
        <input type="text" id="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white w-full dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="....." required />
    </div>
    <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
</form>
<script src="https://www.google.com/recaptcha/api.js?render=6LcHcl4qAAAAAEYgUW61g3S4usyHjPe5glAI-pye"></script>
